{% extends 'rango/base.html' %}

{% block title %}Add New Page{% endblock %}


 {% block body_block %}
 <h2>Add a new Page under {{ category_name }}</h2>
 
    <div class="container">
        <form class="span6" id="page_form" method="post" action="/rango/add_pages/{{ category_name_url }}/">
            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
            {{ hidden }}
            {% endfor %}

            {% for field in form.visible_fields %}
            {{ field.errors }}
            {{ field.help_text }}<br/>
            {{ field }}<br/>
            {% endfor %}

            <br/>
            <button class="btn btn-primary" type="submit" name="submit">Create New Page</button>
        </form>
    </div>


{% endblock %}